<div class="layer grid-9x9 border-layer">
    @foreach( var pos in Position.All )
    {
        <div class="border-layer__cell"></div>
    }
</div>

<div class="layer grid-3x3 border-layer">
    @foreach (var block in Position.Blocks)
    { 
        <div class="border-layer__block"></div>
    }
</div>