@inject Core.DomainFacade DomainFacade

<Grid9x9Component>
    @if( !DomainFacade.HasValue(context) && DomainFacade.GetCandidatesCount(context) > 0 )
    {
        <div class="candidates-grid">
            @foreach( var value in Value.NonEmpty )
            {
                <CandidatesComponent Pos="context" Value="value" />
            }
        </div>
    }
</Grid9x9Component>

@code {
    protected override void OnInitialized()
    {
        DomainFacade.OnValueOrCandidateChanged += StateHasChanged;
    }
}