@inject DomainFacade DomainFacade
@inject ShareProvider ShareProvider

<Grid9x9Component>
    @if( AreCandidatesVisible(context) )
    {
        <div class="candidates-grid">
            @foreach( var value in Value.NonEmpty )
            {
                <CandidatesComponent Pos="context" Value="value" />
            }
        </div>
    }
</Grid9x9Component>

@code {
    private bool AreCandidatesVisible(Position position)
    {
        if( ShareProvider.IsOpened
            && ShareProvider.SharedFields != Enums.SharedFields.Everything )
        {
            return false;
        }

        return !DomainFacade.HasValue(position) && DomainFacade.GetCandidatesCount(position) > 0;

    }

    protected override void OnInitialized()
    {
        DomainFacade.OnValueOrCandidateChanged += StateHasChanged;
        ShareProvider.OnChanged += StateHasChanged;
    }
}