<Grid9x9Component>
    <div class="candidates-grid">
        @foreach( var value in InputValue.NonEmpty )
        {
            <CandidatesComponent Pos="context"
                                 Value="value" />
        }
    </div>
</Grid9x9Component>