@using Weboku.UserInterface.Providers
@using Weboku.Application
@using Weboku.Core.Data
@using Weboku.UserInterface.Converters
@inject DomainFacade DomainFacade

<Grid9x9Component>
    <div class="cell-color @GetCssClass(context)"></div>
</Grid9x9Component>

@code {
    protected override void OnInitialized()
    {
        DomainFacade.OnColorChanged += (_, _) => StateHasChanged();
    }

    private string GetCssClass(Position position)
    {
        var cellColor = DomainFacade.GetColor(position);
        var cssClass = CellColorConverter.ToCssClass(cellColor);
        return cssClass;
    }
}