@inject CellColorProvider CellColorProvider

<Grid9x9Component>
    <div class="cell-color @CellColorProvider.GetCssClass(context.x, context.y)"></div>
</Grid9x9Component>

@code { 
    protected override void OnInitialized()
    {
        CellColorProvider.OnChanged += StateHasChanged;
    }
}