@using Weboku.UserInterface.Providers
@using Weboku.Application
@inject DomainFacade DomainFacade
@inject CellColorProvider CellColorProvider

<Grid9x9Component>
    <div class="cell-color @CellColorProvider.GetCssClass(context)"></div>
</Grid9x9Component>

@code {
    protected override void OnInitialized()
    {
        DomainFacade.OnColorChanged += (_, _) => StateHasChanged();
    }
}