@using Weboku.Application
@inject DomainFacade DomainFacade

<Grid9x9Component>
    <div class="clickable"
         @onclick="@(_ => DomainFacade.UsePrimaryTool(context))"
         @oncontextmenu="@(_ => DomainFacade.UseSecondaryTool(context))">
    </div>
</Grid9x9Component>


@code {
    protected override bool ShouldRender() => false;
}