@inject IClickableActionProvider ClickableActionProvider

<Grid9x9Component>
    <div class="clickable"
         @onclick="@((e) => ClickableActionProvider.OnLeftClick(e, context))"
         @oncontextmenu="@((e) => ClickableActionProvider.OnRightClick(e, context))">
    </div>
</Grid9x9Component>

@code { 
    protected override bool ShouldRender()
    {
        return false;
    }

}
