@inject IClickableActionProvider ClickableActionProvider

<Grid9x9Component>
    <div class="clickable"
         @onclick="(e) => ClickableActionProvider.ClickableAction.LeftClickAction(e, context.x, context.y)"
         @oncontextmenu="(e) => ClickableActionProvider.ClickableAction.RightClickAction(e, context.x, context.y)">
    </div>
</Grid9x9Component>

@code {        
    protected override void OnInitialized()
    {
        ClickableActionProvider.OnChanged += StateHasChanged;
    }

}
