@inject IClickableActionProvider ClickableActionProvider

<Grid9x9Component>
    <div class="clickable"
         @onclick="@((e) => ClickableActionProvider.OnLeftClick(e, context.x, context.y))"
         @oncontextmenu="@((e) => ClickableActionProvider.OnRightClick(e, context.x, context.y))">
    </div>
</Grid9x9Component>

@code {        
    protected override void OnInitialized()
    {
        ClickableActionProvider.OnChanged += StateHasChanged;
    }

}
