@inject Core.DomainFacade DomainFacade

<Grid9x9Component>
    <div class="clickable"
         @onclick="@((e) => DomainFacade.UseMarker(context, InputValue.One))"
         @oncontextmenu="@((e) => DomainFacade.UsePencil(context, InputValue.Two))">
    </div>
</Grid9x9Component>


@code {
    protected override bool ShouldRender() => false;
}
