@inject HintsProvider HintsProvider

<div class="layer">
    <div class="hints-highlight">
        <div class="hints-highlight__container hints-highlight__blocks">
            @for( int i = 0; i < 9; i++ )
            {
                <div class="@HighlightedClass(HintsProvider.IsBlockHighlighted[i])"></div>
            }
        </div>
        <div class="hints-highlight__container hints-highlight__rows">
            @for( int i = 0; i < 9; i++ )
            {
                <div class="@HighlightedClass(HintsProvider.IsRowHighlighted[i])"></div>
            }
        </div>
        <div class="hints-highlight__container hints-highlight__cols">
            @for( int i = 0; i < 9; i++ )
            {
                <div class="@HighlightedClass(HintsProvider.IsColHighlighted[i])"></div>
            }
        </div>
    </div>
</div>


@code {
    private string HighlightedClass(bool isHighlighted)
    {
        return HintsProvider.ShowHints && isHighlighted ? "hints-highlight--with-background" : string.Empty; 
    }
}
