@inject ISudokuProvider SudokuProvider

<Grid9x9Component>
    @{
        ICell cell = SudokuProvider.Cells[context.x, context.y];
        string illegalClass = !cell.Input.IsLegal ? "mark mark-danger" : "";
        <div class="@illegalClass"></div>
    }
</Grid9x9Component>

@code { 
    protected override void OnInitialized()
    {
        SudokuProvider.OnChanged += StateHasChanged;
    }
}
