@using Weboku.Application
@using Weboku.Core.Data
@inject DomainFacade DomainFacade

<Grid9x9Component>
    <div class="candidates-grid">
        <CandidatesComponent Position="context"></CandidatesComponent>
    </div>
</Grid9x9Component>

@code {

    private bool AreCandidatesVisible(Position position)
    {
        return !DomainFacade.HasValue(position) && DomainFacade.GetCandidatesCount(position) > 0;
    }

    protected override void OnInitialized()
    {
    }

}