
    <div class="value input @GivenClass">
        @(Cell.Input.Value != 0 ? Cell.Input.Value.ToString() : "")
    </div>

@code {
    [Parameter]
    public ICell Cell { get; set; }

    private string GivenClass { get => Cell.IsGiven ? "input--is-given " : String.Empty; }

    protected override void OnInitialized()
    {
    }

}
