@inject IGridProvider GridProvider

<div class="input @(_currentIsGiven ? "input--is-given " : String.Empty)">
    @(_currentValue != InputValue.None ? _currentValue.ToString() : string.Empty)
</div>

@code {
    private InputValue _previousValue;
    private InputValue _currentValue => GridProvider.GetValue(Pos);
    private bool _previousIsGiven;
    private bool _currentIsGiven => GridProvider.GetIsGiven(Pos);

    [Parameter]
    public Position Pos { get; set; }

    protected override void OnInitialized()
    {
        GridProvider.OnValueChanged += StateHasChanged;
    }

    protected override bool ShouldRender()
    {
        return _previousValue != _currentValue
            || _previousIsGiven != _currentIsGiven;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        _previousIsGiven = _currentIsGiven;
        _previousValue = _currentValue;
    }
}
