<div class="layer grid-9x9 clickable-layer">
    @for( int y = 0; y < 9; y++ )
    {
        for( int x = 0; x < 9; x++ )
        {
            var targetX = x;
            var targetY = y;
            <div class="clickable"
                 @onclick="(e) => ClickableAction.LeftClickAction(e, targetX, targetY)"
                 @oncontextmenu="(e) => ClickableAction.RightClickAction(e, targetX, targetY)">
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public IClickableAction ClickableAction { get; set; }
}