<div class="layer grid-9x9 filter-layer">
    @for( int y = 0; y < 9; y++ )
    {
        @for( int x = 0; x < 9; x++ )
        {
            var cell = Cells[x, y];
            <div class="@Filter(cell)"></div>
        }
    }
</div>

@code {
    [Parameter]
    public ICell[,] Cells { get; set; }

    [Parameter]
    public Func<ICell, string> Filter { get; set; }
}
