@using Weboku.UserInterface.Providers
@using Weboku.Application
@inject GameTimerProvider GameTimerProvider
@inject DomainFacade DomainFacade

<div class="game-info">
    <div class="game-info__time-elapsed">@GameTimerProvider.Elapsed.ToString("mm\\:ss")</div>
    <div class="game-info__difficulty">@DomainFacade.Difficulty</div>
</div>

@code {

    protected override void OnInitialized()
    {
        GameTimerProvider.OnChanged += StateHasChanged;
    }
}