@using Weboku.UserInterface.Providers
@using Weboku.Application
@inject DomainFacade DomainFacade

<div class="game-info">
    <div class="game-info__time-elapsed">@DomainFacade.Elapsed.ToString("mm\\:ss")</div>
    <div class="game-info__difficulty">@DomainFacade.Difficulty</div>
</div>

@code {

    protected override void OnInitialized()
    {
        DomainFacade.OnTimerChanged += StateHasChanged;
    }
}