<div class="grid-wrapper">
    <div class="grid">
        @for( int y = 0; y < 9; y++ )
        {
            @for( int x = 0; x < 9; x++ )
            {
                var cell = Cells[x, y];
                <CellComponent Cell="cell"
                               OnClickCallback="() => OnCellLeftClick(cell)"
                               OnRightClickCallback="() => OnCellRightClick(cell)" 
                               Filter="() => IsHighlightedFilter(cell)"/>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public int SelectedValue { get; set; }

    [Parameter]
    public ICell[,] Cells { get; set; }

    [Parameter]
    public Action<ICell> OnCellLeftClick { get; set; }

    [Parameter]
    public Action<ICell> OnCellRightClick { get; set; }

    private string IsHighlightedFilter(ICell cell)
    {
        if( cell.Input.Value != 0
            && SelectedValue == cell.Input.Value )
        {
            return "highlight";
        }

        if( cell.Candidates.ContainsKey(SelectedValue) )
        {
            return "candidates-highlight";
        }

        return String.Empty;
    }
}