<div class="layer grid-9x9">
    @for( int y = 0; y < 9; y++ )
    {
        for( int x = 0; x < 9; x++ )
        {
            @ChildContent((x, y))
        }
    }
</div>

@code {
    [Parameter]
    public RenderFragment<(int x, int y)> ChildContent { get; set; }
}
