<div class="layer grid-9x9">
    @for( int y = 0; y < 9; y++ )
    {
        @for( int x = 0; x < 9; x++ )
        {
            var cell = Cells[x, y];
            <CellComponent Cell="cell"
                            Filter="() => Filter(cell)"/>
        }
    }
</div>

@code {
    [Parameter]
    public int SelectedValue { get; set; }

    [Parameter]
    public ICell[,] Cells { get; set; }

    [Parameter]
    public Func<ICell, string> Filter { get; set; }
}