@inject InputMarkProvider InputMarkProvider
@using UI.BlazorWASM.Converters
@using UI.BlazorWASM.Enums

<div class="mark__cell @GetCurrentClass()"></div>

@code {
    private Color _previousColor;
    private Color _currentColor => InputMarkProvider.GetColor(Pos);
    private bool _isDirty = false;

    private string GetCurrentClass()
    {
        return CellColorConverter.ToCssClass(_currentColor);
    }

    [Parameter]
    public Position Pos { get; set; }

    protected override void OnInitialized()
    {
        InputMarkProvider.OnChanged += () =>
        {
            StateHasChanged();
        };
    }

    protected override bool ShouldRender()
    {
        return _previousColor != _currentColor;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        _previousColor = _currentColor;
    }
}
