@inject IJSRuntime JSRuntime
@inject HodokuGridConverter HodokuGridConverter
@inject ISudokuProvider SudokuProvider
@inject CommandProvider CommandProvider
@inject IGameTimerProvider GameTimerProvider
@inject ModalProvider ModalProvider

    <div class="menu">
        <div class="menu-dropdown">
            <span class="menu-item">Menu</span>
            <div class="menu-dropdown-content">
                <a class="dropdown-item" @onmousedown="NewGame">New game </a>
                <a class="dropdown-item" @onmousedown="RestartGame">Restart game</a>
            </div>
        </div>
        <div class="menu-item menu-title-container">
            <div class="menu-difficulty">@SudokuProvider.Sudoku.Difficulty</div>
            <div class="menu-time">@GameTimerProvider.Elapsed.ToString("mm\\:ss")</div>
        </div>

        <div class="menu-item menu-right">
            <a @onclick="@(CommandProvider.FindAllCandidates().Execute)">Find candidates</a>
        </div>
    </div>

@code {
    [Parameter]
    public Func<string, Task> StartNewGame { get; set; }

    protected override void OnInitialized()
    {
        GameTimerProvider.OnChanged += StateHasChanged;
    }

    private void NewGame()
    {
        ModalProvider.NewGame.Show();
    }

    private void RestartGame()
    {
        CommandProvider.Restart().Execute();
    }
}