@using Weboku.UserInterface.Commands
<a class="dropdown__item dropdown__link"
   @onmousedown="@OnMouseDown">
    @ChildContent
</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public ICommand Command { get; set; }
    [Parameter]
    public Action Action { get; set; }

    public Task OnMouseDown()
    {
        if (Command is not null)
        {
            return Command.Execute();
        }

        Action?.Invoke();
        return Task.CompletedTask;
    }
}
