@inject CommandProvider CommandProvider
@inject ShowMainMenuModalCommand ShowMainMenuModalCommand
@inject ShowShareModalCommand ShowShareModalCommand
@inject RestartGameCommand RestartGameCommand
@inject ShowHowToPlayModalCommand ShowHowToPlayModalCommand
@inject ShowHintModalCommand ShowHintModalCommand
@inject FindAllCandidatesCommand FindAllCandidatesCommand
@inject ClearCandidatesCommand ClearCandidatesCommand

<div class="menu">
    <div class="menu__item">
        <DropdownMenuComponent>
            <Header> 
                <MenuLabelComponent>Menu</MenuLabelComponent>
            </Header>
            <Content>
                <MenuLinkComponent OnMouseDown="ShowMainMenuModalCommand">Main menu</MenuLinkComponent>
                <MenuLinkComponent OnMouseDown="ShowShareModalCommand">Share</MenuLinkComponent>
                <MenuLinkComponent OnMouseDown="RestartGameCommand">Restart game</MenuLinkComponent>
                <MenuLinkComponent OnMouseDown="ShowHowToPlayModalCommand">How to play</MenuLinkComponent>
                <MenuLinkComponent OnMouseDown="ShowHintModalCommand">Show hint</MenuLinkComponent>
            </Content>
        </DropdownMenuComponent>
    </div>
    <div class="menu__item">
    </div>
    <div class="menu__item">
        <DropdownMenuComponent>
            <Header>
                <MenuLabelComponent>Candidates</MenuLabelComponent>
            </Header>
            <Content>
                <MenuLinkComponent OnMouseDown="FindAllCandidatesCommand">Find all</MenuLinkComponent>
                <MenuLinkComponent OnMouseDown="ClearCandidatesCommand">Remove all</MenuLinkComponent>
            </Content>
        </DropdownMenuComponent>
    </div>
</div>

@code {
}