@inject CommandProvider CommandProvider

<div class="menu">
    <div class="menu__item">
        <DropdownMenuComponent>
            <Header> 
                <span class="dropdown__item dropdown__label">Menu</span>
            </Header>
            <Content>
                <a class="dropdown__item dropdown__link" @onmousedown="CommandProvider.ShowNewGameModal().Execute">New game </a>
                <a class="dropdown__item dropdown__link" @onmousedown="CommandProvider.Restart().Execute">Restart game</a>
            </Content>
        </DropdownMenuComponent>
    </div>
    <div class="menu__item">
    </div>
    <div class="menu__item">
        <DropdownMenuComponent>
            <Header>
                <span class="dropdown__item dropdown__label">Help</span>
            </Header>
            <Content>
                <a @onmousedown="@CommandProvider.FindAllCandidates().Execute"
                   class="dropdown__item dropdown__link">Find candidates</a>
                <a @onmousedown="@CommandProvider.ShowHowToPlayModal().Execute"
                   class="dropdown__item dropdown__link">How to play</a>
            </Content>
        </DropdownMenuComponent>
    </div>
</div>

@code {
}