@inject CommandProvider CommandProvider

<div class="menu">
    <div class="menu__item">
        <DropdownMenuComponent>
            <Header> 
                <MenuLabelComponent>Menu</MenuLabelComponent>
            </Header>
            <Content>
                <MenuLinkComponent OnMouseDown="CommandProvider.ShowNewGameModal()">New game</MenuLinkComponent>
                <MenuLinkComponent OnMouseDown="CommandProvider.RestartGame()">Restart game</MenuLinkComponent>
                <MenuLinkComponent OnMouseDown="CommandProvider.ClearCandidates()">Clear candidates</MenuLinkComponent>
            </Content>
        </DropdownMenuComponent>
    </div>
    <div class="menu__item">
    </div>
    <div class="menu__item">
        <DropdownMenuComponent>
            <Header>
                <MenuLabelComponent>Help</MenuLabelComponent>
            </Header>
            <Content>
                <MenuLinkComponent OnMouseDown="CommandProvider.FindAllCandidates()">Find candidates</MenuLinkComponent>
                <MenuLinkComponent OnMouseDown="CommandProvider.ShowHowToPlayModal()">How to play</MenuLinkComponent>
            </Content>
        </DropdownMenuComponent>
    </div>
</div>

@code {
}