<button
     @onclick="OnSelectedValueChanged">
    @Value
</button>

@code {
    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public int SelectedValue { get; set; }

    [Parameter]
    public EventCallback<int> SelectedValueChanged { get; set; }

    private Task OnSelectedValueChanged(MouseEventArgs args)
    {
        return SelectedValueChanged.InvokeAsync(Value);
    }

}
