@using Weboku.UserInterface.Converters
@using Weboku.Core.Data
@using Weboku.Application.Enums
<div class="input @(IsGiven ? "input--is-given " : String.Empty)
     @CellColorConverter.ToCssClass(MarkColor)">
    @(Value != Value.None ? Value.ToString() : string.Empty)
</div>

@code {
    private Value _previousValue;
    [Parameter]
    public Value Value { get; set; }

    private bool _previousIsGiven;
    [Parameter]
    public bool IsGiven { get; set; }

    private Color _previousMarkColor { get; set; }
    [Parameter]
    public Color MarkColor { get; set; }

    protected override bool ShouldRender()
    {
        var shouldRender = _previousValue != Value
            || _previousIsGiven != IsGiven
            || _previousMarkColor != MarkColor;
        return shouldRender;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        _previousIsGiven = IsGiven;
        _previousValue = Value;
        _previousMarkColor = MarkColor;
    }
}
