@using Weboku.Core.Data
<div class="layer grid-9x9">
    @foreach( var pos in Position.Positions )
    {
        string blockParity = pos.Block % 2 == 1 ? "even" : "odd";
        <div class="grid-9x9__cell
                    grid-9x9__cell--@blockParity
                    @GetCornerStyle(pos)">
            @ChildContent(pos)
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment<Position> ChildContent { get; set; }

    private string GetCornerStyle(Position pos)
    {
        if( pos.Y == 0 && pos.X == 0 )
        {
            return "grid-9x9__cell--top-left-corner";
        }
        else if( pos.Y == 0 && pos.X == 8 )
        {
            return "grid-9x9__cell--top-right-corner";
        }
        else if( pos.Y == 8 && pos.X == 0 )
        {
            return "grid-9x9__cell--bottom-left-corner";
        }
        else if(pos.Y == 8 && pos.X == 8 )
        {
            return "grid-9x9__cell--bottom-right-corner";
        }

        return string.Empty;
    }
}
