@using Weboku.UserInterface.Providers
@using Weboku.Application
@inject DomainFacade TooltipProvider

<div class="tooltip-toggler
     @(TooltipProvider.IsTooltipVisible ? "tooltip-toggler--tooltip-visible" : String.Empty)"
     @onclick=OnClick>?</div>

@code {
    private void OnClick()
    {
        TooltipProvider.IsTooltipVisible = !TooltipProvider.IsTooltipVisible;
        TooltipProvider.TooltipText = "tooltip-toggler__tooltip";
    }

        protected override void OnInitialized()
        {
        TooltipProvider.OnTooltipChanged += StateHasChanged;
        }
}
