@using Weboku.UserInterface.Providers
@using Weboku.Application
@inject DomainFacade TooltipProvider
@inject ILanguageContainerService Loc

<div @onclick="OnClick"
     class="tooltip
     @(TooltipProvider.IsTooltipVisible ? "tooltip--visible" : String.Empty)">
    @Loc.Keys[TooltipProvider.TooltipText]
</div>

@code {
    protected override void OnInitialized()
    {
        TooltipProvider.OnTooltipChanged += StateHasChanged;
    }

    private void OnClick()
    {
        TooltipProvider.IsTooltipVisible = false;
    }
}
