@using Weboku.UserInterface.Providers
@inject TooltipProvider TooltipProvider

<div class="tooltip-toggler
     @(TooltipProvider.IsVisible ? "tooltip-toggler--tooltip-visible" : String.Empty)"
     @onclick=OnClick>?</div>

@code {
    private void OnClick()
    {
        TooltipProvider.IsVisible = !TooltipProvider.IsVisible;
        TooltipProvider.Text = "tooltip-toggler__tooltip";
    }

        protected override void OnInitialized()
        {
        TooltipProvider.OnHintsChanged += StateHasChanged;
        }
}
