@using Weboku.UserInterface.Providers
@using Weboku.UserInterface.Component.NumpadMenu.NumpadMenuOptions
@using Weboku.Application
@inject NumpadMenuBuilder NumpadMenuBuilder
@inject ILanguageContainerService Loc
@inject DomainFacade SettingsProvider
@inject DomainFacade TooltipProvider

<div @onclick="OnClick"
     class="numpad__button numpad__label numpad__clear-colors">
    @Loc.Keys["numpad-clear-colors__label"]
</div>

@code {

    private INumpadMenuItem _clearColors;

    protected override void OnInitialized()
    {
        _clearColors = NumpadMenuBuilder.ClearColors();
        SettingsProvider.OnLanguageChanged += StateHasChanged;
    }

    private Task OnClick()
    {
        if (TooltipProvider.IsTooltipVisible)
        {
            TooltipProvider.TooltipText = _clearColors.Tooltip;
        }

        return _clearColors.Execute();
    }
}
