@using Weboku.UserInterface.Providers
@using Weboku.UserInterface.Component.NumpadMenu.NumpadMenuOptions
@using Weboku.UserInterface.Converters
@using Weboku.Application
@inject NumpadMenuProvider NumpadMenuProvider
@inject DomainFacade TooltipProvider

<div @onclick="OnClick"
     class="numpad__button">
    <div class="numpad__color
                @(IsSelected ? "numpad__color--selected" : string.Empty)">
        <div class="numpad__color1 @CellColorConverter.ToCssClass(SelectColorMenuItem.Color1)"></div>
        <div class="numpad__color2 @CellColorConverter.ToCssClass(SelectColorMenuItem.Color2)"></div>
    </div>
</div>

@code {
    [Parameter]
    public Weboku.UserInterface.Component.NumpadMenu.NumpadMenuOptions.ISelectColorMenuItem SelectColorMenuItem { get; set; }

    private bool IsSelected { get => NumpadMenuProvider.ColorContainer.SelectedItem == SelectColorMenuItem; }

    protected override void OnInitialized()
    {
        NumpadMenuProvider.ColorContainer.OnChanged += StateHasChanged;
    }

    private Task OnClick()
    {
        if( TooltipProvider.IsTooltipVisible )
        {
            TooltipProvider.TooltipText = SelectColorMenuItem.Tooltip;
        }

        return SelectColorMenuItem.Execute();
    }
}
