@using Weboku.UserInterface.Providers
@using Weboku.UserInterface.Component.NumpadMenu.NumpadMenuOptions
@using Weboku.Application
@inject NumpadMenuProvider NumpadMenuProvider
@inject DomainFacade TooltipProvider

<div @onclick="OnClick"
     class="numpad__button numpad__label
                @(NumpadMenuProvider.IsSelected(NumpadMenuLabel) ? "numpad__label--selected" : string.Empty)
                @(NumpadMenuLabel.IsDimmed ? "numpad__label--dimmed" : string.Empty)
                ">
    <i class="@NumpadMenuLabel.Label"></i>
</div>

@code {
    [Parameter]
    public NumpadMenuLabel NumpadMenuLabel { get; set; }

    protected override void OnInitialized()
    {
        NumpadMenuProvider.ActionContainer.OnChanged += StateHasChanged;
    }

    private Task OnClick()
    {
        if( TooltipProvider.IsTooltipVisible )
        {
            TooltipProvider.TooltipText = NumpadMenuLabel.Tooltip;
        }

        return NumpadMenuLabel.Execute();
    }
}
