.text-center {
  text-align: center;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  user-select: none;
  overflow: hidden;
}

body {
  background-color: #DEDEDE;
}

html {
  font-size: 7px;
}

@media screen and (min-width: 323px) and (min-height: 574.22222px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 383px) and (min-height: 680.88889px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 415px) and (min-height: 737.77778px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 445px) and (min-height: 791.11111px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 505px) and (min-height: 897.77778px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 575px) and (min-height: 1022.22222px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 615px) and (min-height: 1093.33333px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 715px) and (min-height: 1271.11111px) {
  html {
    font-size: 17px;
  }
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898989;
  background-color: #DEDEDE;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: 1fr;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 #616161;
}

.main__menu {
  grid-row: span 1;
  margin: 0% 6%;
  width: 88%;
  height: 100%;
}

.main__game-info {
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: start;
}

.main__grid {
  margin: 6%;
  width: -76%;
  height: -76%;
  grid-row: span 9;
}

.main__numpad {
  grid-row: span 5;
  margin: 0 6%;
  width: 88%;
  height: 100%;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.menu {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  padding: 0 0 0.5rem 0;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.menu__link:hover {
  background-color: #6F9CEF;
}

.menu div:first-of-type {
  justify-content: flex-start;
}

.menu div {
  justify-content: center;
}

.menu div:last-of-type {
  justify-content: flex-end;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.modal-container * {
  font-size: 1.3rem;
}

.modal-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal-overlay {
  position: relative;
  width: 31.2rem;
  margin: auto;
  padding: 2px;
  background-color: white;
  box-shadow: 0px 0px 0 100vw rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: #F1F1F1;
  border: 1px solid #616161;
  padding: 1.82em 2.6rem;
  margin: 0.858rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 48.75rem;
}

.modal__title {
  font-size: 2.99rem;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #616161;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__subtitle {
  font-size: 1.391rem;
  color: #7A7A7A;
}

.modal__content {
  margin: 4.55rem 0;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__text {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #7A7A7A;
}

.modal__button {
  width: 100%;
  margin: auto;
  text-align: center;
  max-width: 15.6rem;
  margin: 0em auto 1.1em auto;
  padding: 0.7em;
  text-transform: uppercase;
  font-size: 1.3rem;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.05em;
  transition: transform 200ms;
}

.modal__button:hover {
  transform: scale(1.1);
}

.modal__button--primary {
  font-weight: 700;
  display: block;
  color: #7A7A7A;
  border: 1px solid #B7B7B7;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal__button--secondary {
  margin: 0.5em auto 1em auto;
  background: #DEDEDE;
  border: 1px solid #B7B7B7;
  color: #898989;
  font-size: 1.56rem;
  font-weight: 700;
}

.modal__result-row {
  width: 100%;
  display: flex;
  line-height: 1.6;
  margin: 2.6rem 0;
  color: #7A7A7A;
  border-bottom: 2px solid #DEDEDE;
}

.modal__result-row span {
  font-size: 1.3rem;
}

.modal__result-label {
  font-weight: 700;
}

.modal__result-value {
  margin-left: auto;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.main__grid {
  position: relative;
}

.main__grid:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
}

.grid-3x3 {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.grid-9x9 {
  display: grid;
  grid-template: repeat(9, 1fr)/repeat(9, 1fr);
}

.grid-9x9__cell {
  width: 100%;
  height: 100%;
}

.grid-9x9__cell--even {
  color: #7A7A7A;
}

.grid-9x9__cell--odd {
  color: #898989;
}

.grid-9x9__cell--top-left-corner {
  border-top-left-radius: 10px;
  overflow: hidden;
}

.grid-9x9__cell--top-right-corner {
  border-top-right-radius: 10px;
  overflow: hidden;
}

.grid-9x9__cell--bottom-left-corner {
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.grid-9x9__cell--bottom-right-corner {
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.candidates-grid {
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.candidates-grid__cell {
  display: flex;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.numpad {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.75rem;
  padding-bottom: 0.75rem;
}

.numpad__button {
  border: 1px solid #898989;
  border-radius: 5px;
  font-weight: 900;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  color: #7A7A7A;
  background-color: #FBFBFB;
  transition: box-shadow 200ms, transform 200ms;
}

.numpad__button:hover {
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.07);
}

.numpad__color {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px inset solid black;
}

.numpad__color--selected {
  background-color: #e2b22b;
}

.numpad__color1 {
  position: absolute;
  border: 2px solid #FBFBFB;
  top: 8%;
  bottom: 8%;
  right: 8%;
  left: 8%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.numpad__color2 {
  position: absolute;
  border: 2px solid #FBFBFB;
  top: 8%;
  bottom: 8%;
  right: 8%;
  left: 8%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.numpad__hidden {
  visibility: hidden;
}

.numpad__empty-row {
  grid-column: span 4;
}

.numpad__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.numpad__label--dimmed {
  color: #898989;
  background-color: #DEDEDE;
}

.numpad__label--dimmed:hover {
  pointer-events: none;
}

.numpad__label--selected {
  position: relative;
  color: black;
  z-index: 3;
}

.numpad__label--selected::after {
  content: '';
  position: absolute;
  left: 50%;
  background: #e2b22b;
  transform: translate(-50%);
  z-index: -1;
  border-radius: 50%;
  animation-name: show-circle;
  animation-duration: 200ms;
  width: 2.5rem;
  height: 2.5rem;
}

@keyframes show-circle {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.numpad__clear-colors {
  grid-column: span 2;
}

.spinner {
  position: absolute;
  border: 0.8rem solid silver;
  border-top: 0.8rem solid #337AB7;
  border-radius: 50%;
  width: var(--spinner-size);
  height: var(--spinner-size);
  animation: spin 700ms linear infinite;
}

.container-loading {
  --spinner-size: calc(min(100vw, var(--max-width)) * 0.3);
  position: relative;
  width: var(--spinner-size);
  height: var(--spinner-size);
  top: calc(50vh - 0.5 * var(--spinner-size));
  left: calc(50vw - 0.5 * var(--spinner-size));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-loading span {
  color: black;
  font-size: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.background-layer__cell {
  background-color: #FBFBFB;
}

.background-layer__cell:nth-child(2n+1) {
  background-color: #DEDEDE;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.border-layer {
  border-radius: 10px;
  border: 1px solid #DEDEDE;
}

.border-layer__block {
  border-color: black;
  border-style: solid;
  border-width: 0px;
}

.border-layer__block:nth-child(3n+1) {
  border-right-width: 2px;
}

.border-layer__block:nth-child(3n+3) {
  border-left-width: 2px;
}

.border-layer__block:nth-child(-n + 3) {
  border-bottom-width: 2px;
}

.border-layer__block:nth-child(n + 7) {
  border-top-width: 2px;
}

.border-layer__cell {
  border: 0.1px solid #898989;
}

.border-layer__cell:nth-child(1) {
  border-radius: 10px 0 0 0;
}

.border-layer__cell:nth-child(9) {
  border-radius: 0 10px 0 0;
}

.border-layer__cell:nth-child(73) {
  border-radius: 0 0 0 10px;
}

.border-layer__cell:nth-child(81) {
  border-radius: 0 0 10px 0;
}

.clickable {
  width: 100%;
  height: 100%;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.filter__cell {
  width: 100%;
  height: 100%;
}

.filter__cell--none {
  background-color: transparent;
}

.filter__cell--primary {
  background-color: #FFFF00;
}

.filter__cell--secondary {
  background-color: #E2E200;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.shadow-layer {
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.input {
  font-weight: 700;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.input--is-given {
  color: #555;
  font-weight: 900;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.dropdown {
  color: #7A7A7A;
  background-color: #FBFBFB;
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 5px;
}

@keyframes show-menu {
  from {
    transform: scale(1, 0);
    transform-origin: bottom;
  }
  to {
    transform: scale(1, 1);
  }
}

.dropdown--is-visible {
  animation: show-menu 200ms linear;
  z-index: 100000;
}

.dropdown * {
  display: block;
}

.dropdown__label {
  text-align: center;
}

.dropdown__link {
  height: 6rem;
}

.dropdown__item {
  width: 100%;
  color: #7A7A7A;
  background-color: #FBFBFB;
  border: 1px solid #616161;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  z-index: 1;
  font-size: 2rem;
}

.dropdown__item:hover {
  color: #898989;
  background-color: #DEDEDE;
}

.dropdown__content {
  width: 100%;
  position: absolute;
  bottom: 0%;
  flex-direction: column;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.dropdown__content--is-visible {
  display: flex;
}

.dropdown__content--is-hidden {
  display: none;
}

@keyframes dim-the-background {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.dropdown__overlay {
  animation: dim-the-background 200ms ease-out;
  animation-delay: 200ms;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown__placeholder {
  background-color: transparent;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.mark__cell {
  width: 80%;
  height: 80%;
  color: transparent;
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  border-color: currentColor;
  margin: 10%;
}

.mark__cell--danger {
  border-color: #FF7970;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.cell-color-choice {
  margin: 0 30%;
  width: 100%;
  height: 100%;
}

.cell-color {
  width: 80%;
  height: 80%;
  margin: 10%;
  opacity: 0.9;
}

.cell-color-none {
  background-color: transparent;
}

.cell-color-first {
  background-color: #FF7970;
}

.cell-color-second {
  background-color: #6DBC76;
}

.cell-color-third {
  background-color: #adcde0;
}

.cell-color-fourth {
  background-color: #9792E3;
}

.cell-color-danger {
  background-color: #FF7970;
}

.cell-color-illegal {
  background-color: #FF7970;
}

.cell-color-success {
  background-color: #6DBC76;
}

.cell-color-legal {
  background-color: #6DBC76;
}

.cell-color-info {
  background-color: #adcde0;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.game-info {
  color: #898989;
  background-color: #DEDEDE;
  display: inline-block;
  text-align: center;
  line-height: 1;
}

.game-info__difficulty {
  font-weight: 700;
  font-size: 1.7rem;
}

.game-info__time-elapsed {
  font-size: 1.5rem;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.share__header {
  grid-column: span 2;
  font-size: 2.5rem;
  align-self: center;
  justify-self: stretch;
  text-align: center;
}

.share__radio {
  grid-column: span 1;
  grid-row: span 4;
  color: #898989;
  background-color: #DEDEDE;
  border-radius: 5%;
  border: 1px solid #888;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.share__option {
  color: #7A7A7A;
  background-color: #FBFBFB;
  font-size: 1.05rem;
  margin: 0.8em;
  padding: 0.25em 0.25em;
  text-align: center;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.share__option--selected {
  font-weight: 700;
  position: relative;
}

.share__option--selected::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 2px #e2b22b inset;
}

.share__option--selected::before {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  content: 'X';
}

.share__option:hover {
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 1px black inset;
}

.share__label {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  color: black;
  border-bottom: 2px solid #AAA;
  padding: 0.4em 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.share__output {
  grid-column: span 2;
  font-size: 1.25rem;
  margin: auto;
  width: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.share__row {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.share__close {
  color: #7A7A7A;
  background-color: #FBFBFB;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 40%;
  max-width: 13em;
  margin: 0.1em 0.25em;
  font-size: 1.5rem;
  padding: 0.35em 0.15em;
  border: 1px solid #888;
}

.share__close:hover {
  background-color: white;
  font-weight: 700;
  border: 1px solid black;
}

.share__input {
  grid-row: span 2;
  grid-column: span 2;
}

.candidates {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.modal-with-grid {
  background-color: #DEDEDE;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  background-color: transparent;
}

.modal-with-grid__overlay {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-with-grid__grid {
  z-index: 0;
  position: relative;
  width: 88%;
  height: 88%;
  margin: 6%;
  grid-row: span 9;
  background-color: transparent;
}

.modal-with-grid__content-wrapper {
  grid-row: 10/ span 7;
  border-radius: 10px;
  color: #898989;
  background-color: #DEDEDE;
  padding: 0 6% 6% 6%;
  width: 100%;
  height: 100%;
}

.modal-with-grid__content {
  position: relative;
  z-index: 2;
  box-shadow: 0 6px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #898989;
  background-color: #DEDEDE;
  padding: 5% 5%;
  width: 100%;
  height: 100%;
  background-color: #F1F1F1;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  border: 1px solid black;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.paste__header {
  grid-column: span 2;
  font-size: 2.5rem;
  align-self: center;
  justify-self: stretch;
  text-align: center;
}

.paste__radio {
  grid-column: span 1;
  grid-row: span 4;
  color: #898989;
  background-color: #DEDEDE;
  border-radius: 5%;
  border: 1px solid #888;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

.paste__option {
  color: #7A7A7A;
  background-color: #FBFBFB;
  font-size: 1.05rem;
  margin: 0.8em;
  padding: 0.25em 0.25em;
  text-align: center;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.paste__option--selected {
  font-weight: 700;
  position: relative;
}

.paste__option--selected::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 2px #e2b22b inset;
}

.paste__option--selected::before {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  content: 'X';
}

.paste__option:hover {
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 1px black inset;
}

.paste__label {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  color: black;
  border-bottom: 2px solid #AAA;
  padding: 0.4em 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.paste__row {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.paste__close {
  color: #7A7A7A;
  background-color: #FBFBFB;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 40%;
  max-width: 13em;
  margin: 0.1em 0.25em;
  font-size: 1.5rem;
  padding: 0.35em 0.15em;
  border: 1px solid #888;
}

.paste__close:hover {
  background-color: white;
  font-weight: 700;
  border: 1px solid black;
}

.paste__input {
  grid-row: span 2;
  grid-column: span 2;
}

.paste__input--is-invalid {
  background-color: #FF7970;
}

.hints-highlight {
  position: relative;
  width: 100%;
  height: 100%;
}

.hints-highlight__container {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
}

.hints-highlight__blocks {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.hints-highlight__rows {
  grid-template-rows: repeat(9, 1fr);
}

.hints-highlight__cols {
  grid-template-columns: repeat(9, 1fr);
}

@keyframes glow {
  from {
    background-color: #BFBFBF;
  }
  to {
    background-color: #A5A5A5;
  }
}

.hints-highlight--with-background {
  animation: glow 1500ms linear 0s infinite alternate;
}

:root {
  --max-size: 700px;
  --max-width: 700px;
}

.hints-modal__container {
  grid-column: span 2;
  grid-row: span 7;
  padding: 2%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

.hints-modal__title {
  font-size: 2.3rem;
  text-align: center;
  font-weight: 700;
}

.hints-modal__technique-container {
  margin: 0.8rem;
  grid-row: span 5;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.hints-modal__technique-name {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1.5rem;
  padding: 0.25em;
  color: #898989;
  background-color: #DEDEDE;
}

.hints-modal__technique-desc {
  margin: 1rem;
  font-size: 1.2rem;
  color: black;
}

.hints-modal__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.hints-modal__button {
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  color: #7A7A7A;
  background-color: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.with-hr {
  position: relative;
  padding: 3.2px 0;
}

.with-hr + .with-hr {
  margin-top: 0.1em;
}

.with-hr::after,
.with-hr::before {
  content: '';
  position: absolute;
  opacity: 0.4;
  left: 0;
  height: 2px;
  width: 100%;
  border: 1px inset #B7B7B7;
  background-color: transparent;
}

.with-hr::before {
  top: -0.05em;
}

.with-hr::after {
  bottom: 0.05em;
}
