@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    box-sizing: border-box;
}

:root {
    --color-danger: red;
    --color-success: green;
    --color-1: blue;
    --color-2: yellow;
}

body {
    margin: 0px;
    background-color: #555555;
    user-select: none;
    overflow: hidden;
}

html {
    font-size: 10px;
}

@media screen and (min-width: 380px) and (min-height: 380px) {
    html {
        font-size: 11px;
    }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 700px) and (min-height: 700px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 850px) and (min-height: 850px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1000px) and (min-height: 1000px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 1150px) and (min-height: 1150px) {
    html {
        font-size: 28px;
    }
}

.main {
    max-width: 1200px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    padding: 0;
    margin: 0 auto;
}

.menu {
    color: white;
    margin: 0 1%;
    padding: 0.25rem;
    background-color: #3A77EA;
    align-self: start;
}

.layer-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    padding-bottom: 100%;
    margin: 0;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1% 1% 1% 1%;
}

.grid-9x9 {
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
}

.grid-3x3 {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.background-layer {
}

.background-layer div {
    background-color: rgba(255, 255, 255, 0.6);
}

.background-layer div:nth-child(2n+1){
    background-color: rgba(255, 255, 255, 1);
}


.cell-color {
    margin: 10%;
}

.cell-color-first {
    background-color: var(--color-1);
}

.cell-color-second {
    background-color: var(--color-2);
}

.cell-color-danger {
    background-color: var(--color-danger);
}

.cell-color-success {
    background-color: var(--color-success);
}


.mark {
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    margin: 10%;
}

.mark-danger {
    border-color: var(--color-danger);
}

.mark-success {
    border-color: var(--color-success);
}
.mark-1 {
    border-color: var(--color-1);
}
.mark-2 {
    border-color: var(--color-2);
}

.numpad {
    margin: 0% 10% 0% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.numpad > div {
    display: block;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.cell {
    line-height: 1;
    border: 0.2rem solid black;
    padding: 1px;
}

.filter-primary {
    background-color: #FFFF00;
}

.filter-secondary {
    background-color: #E2E200;
}

.input {
    font-size: 2.8rem;
    display: flex;
    font-weight: normal;
    align-items: center;
    justify-content: center;
}

.candidates {
    font-size: 1rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.candidate {
    display: flex;
}

a {
    text-decoration: none;
}

.given {
    font-weight: bold;
}

.value {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HighlightedNumpad {
    color: #E2E200 !important;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}