@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    margin: 0px;
}

html {
    font-size: 13px;
}

@media screen and (min-width: 700px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 850px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}

.main {
    max-width: 1200px;
    background-color: #555555;
    width: 100vw;
    height: 100vh;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: auto auto auto;
    padding: 0;
    margin: 0;
}

.grid {
    margin: 1% 1% 1% 1%;
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
}   

    /*.grid > div {
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-weight: 900;
        font-size: 0.75em;
    }*/

.menu {
    color: white;
    margin: 0%;
    padding: 0% 2%;
    background-color: #3A77EA;
    align-self: start;
}


.numpad {
    /*margin: 0% 10% 35% 10%;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

    .numpad > button {
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 3rem;
        font-weight: 600;
    }

.cell {
    line-height: 1;
    border: 1px solid black;
    padding: 1px;
}

.whiteBackground {
    background-color: white;
}

.grayBackground {
    background-color: #DDDDDD;
}

.highlight {
    background-color: #FFFF00;
}

.input {
    font-size: 2.8rem;
    display: flex;
    font-weight: normal;
    align-items: center;
    justify-content: center;
}

.candidates {
    font-size: 1rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.candidates-highlight {
    background-color: #E2E200;
}

.candidate {
    display: flex;
    /*font-size: larger;*/
}

a {
    text-decoration: none;
}

.given {
    font-weight: bold;
}

.illegalInput {
    border-color: red;
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
}

.value {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}