@inject CommandProvider CommandProvider
@inject ModalProvider ModalProvider

<ModalTemplateComponent>
    <h1 class="modal__title with-hr">Main menu</h1>

    <div class="modal__content">
        <ModalButtonComponent OnClick="CommandProvider.ShowNewGameModal()">
            New game
        </ModalButtonComponent>
        <ModalButtonComponent OnClick="CommandProvider.ShowHowToPlayModal()">
            How to play
        </ModalButtonComponent>
        <ModalButtonComponent OnClick="CommandProvider.ShowShareModal()">
            Share
        </ModalButtonComponent>
        <ModalButtonComponent OnClick="CommandProvider.ShowPasteModal()">
            Paste
        </ModalButtonComponent>
    </div>

    <div class="modal__footer with-hr">
        @if( ModalProvider.HasPreviousState )
        {
            <ModalButtonComponent OnClick="CommandProvider.CloseModal()"
                                  IsSecondary="true">
                Close
            </ModalButtonComponent>
        }
    </div>
</ModalTemplateComponent>

@code {

}