@using Weboku.UserInterface.Providers
@inject ModalProvider ModalProvider

    <div class="modal-container"
         style="@_style">
        @if( ModalProvider.CurrentState == ModalState.NewGame )
        {
            <NewGameModalComponent />
        }
        else if( ModalProvider.CurrentState == ModalState.EndGame )
        {
            <EndGameModalComponent />
        }
        else if( ModalProvider.CurrentState == ModalState.HowToPlay )
        {
            <HowToPlayModalComponent />
        }
        else if( ModalProvider.CurrentState == ModalState.MainMenu )
        {
            <MainMenuModalComponent />
        }
        else if( ModalProvider.CurrentState == ModalState.Share )
        {
            <ShareModalComponent />
        }
        else if( ModalProvider.CurrentState == ModalState.Paste )
        {
            <PasteModalComponent />
        }
        else if (ModalProvider.CurrentState == ModalState.Hints)
        {
            <HintsModalComponent />
        }
        else if (ModalProvider.CurrentState == ModalState.Settings)
        {
            <SettingsModalComponent />
        }
        else if (ModalProvider.CurrentState == ModalState.Loading)
        {
            <LoadingModalComponent />
        }
    </div>

@code {
    private string _style
    {
        get
        {
            return ModalProvider.CurrentState == ModalState.None
                || ModalProvider.CurrentState == ModalState.CustomSudoku
                ? "display: none;"
                : string.Empty;
        }
    }

    protected override void OnInitialized()
    {
        ModalProvider.OnChanged += StateHasChanged;
    }
}