<div class="modal-container"
     style="@_style">
    <div class="modal-overlay">
        <div class="modal">
            @if( _currentState == ModalState.NewGame )
            {
                <NewGameModalComponent />
            }
            else if (_currentState == ModalState.EndGame)
            {
                <EndGameModalComponent />
            }
            else if (_currentState == ModalState.HowToPlay)
            {
                <HowToPlayModalComponent NextState="_previousState" />
            }
        </div>
    </div>
</div>

@code {
    private ModalState _previousState = ModalState.None;
    private ModalState _currentState = ModalState.None;

    private string _style { get => _currentState == ModalState.None ? "display: none;" : string.Empty; }

    public void SetState(ModalState state)
    {
        _previousState = _currentState;
        _currentState = state;
        StateHasChanged();
    }
}