@inject CloseModalCommand CloseModalCommand
@inject CommandProvider CommandProvider
@inject ModalProvider ModalProvider

<ModalTemplateComponent>
    <h1 class="modal__title with-hr">New game</h1>

    <div class="modal__content">
        @foreach( var difficulty in new[] { "Easy", "Medium", "Hard", "Extreme", "Unfair" } )
        {
            <ModalButtonComponent OnClick=CommandProvider.StartNewGameV2(difficulty)>
                @difficulty
            </ModalButtonComponent>
        }
    </div>

    <div class="modal__footer with-hr">
        <ModalButtonComponent OnClick="CloseModalCommand"
                              IsSecondary="true">
            Close
        </ModalButtonComponent>
    </div>
</ModalTemplateComponent>

@code {

}
