@inject CommandProvider CommandProvider

<h1 class="modal__title with-hr">New game</h1>

<div class="modal__content">
    @foreach( var difficulty in new[] { "Easy", "Medium", "Hard", "Extreme", "Unfair" } )
    {
        <a @onclick="@(CommandProvider.StartNewGame(difficulty).Execute)"
            class="modal__button modal__button--primary">@difficulty</a>
    }
</div>

<div class="modal__footer with-hr">
    <a class="modal__button modal__button--secondary"> How to play</a>
</div>

@code {

}
