@inject IJSRuntime JSRuntime
@inject CommandProvider CommandProvider
@inject PasteProvider PasteProvider

<ModalWithGridTemplateComponent>
    <Grid>
        <PasteLayerComponent />
    </Grid>
    <Content>
        <h1 class="paste__header with-hr">Paste</h1>
        <textarea class="paste__input"
                  @bind="@PasteProvider.Pasted"></textarea>

        <div class="paste__row">
            <div class="paste__close"
                 @onclick="CommandProvider.StartNewGameFromPasted().Execute">Start game</div>
        </div>


        <div class="paste__row">
            <div class="paste__close"
                 @onclick="CommandProvider.CloseModal().Execute">Close</div>
        </div>
    </Content>
</ModalWithGridTemplateComponent>

@code {

}
