@inject NumpadMenuBuilder NumpadMenuBuilder
@inject ILanguageContainerService Loc
@inject SettingsProvider SettingsProvider
@inject TooltipProvider TooltipProvider

<div @onclick="OnClick"
     class="numpad__button numpad__label numpad__clear-colors">
    @Loc.Keys["numpad-clear-colors__label"]
</div>

@code {

    private INumpadMenuItem _clearColors;

    protected override void OnInitialized()
    {
        _clearColors = NumpadMenuBuilder.ClearColors();
        SettingsProvider.OnChanged += StateHasChanged;
    }

    private Task OnClick()
    {
        if (TooltipProvider.IsVisible)
        {
            TooltipProvider.Text = _clearColors.Tooltip;
        }

        return _clearColors.Execute();
    }
}
