@inject NumpadMenuBuilder NumpadMenuBuilder
@inject ILanguageContainerService Loc
@inject SettingsProvider SettingsProvider

<div @onclick="_clearColors.Execute"
     class="numpad__button numpad__label numpad__clear-colors">
    @Loc.Keys["numpad-clear-colors__label"]
</div>

@code {

    private INumpadMenuItem _clearColors;

    protected override void OnInitialized()
    {
        _clearColors = NumpadMenuBuilder.ClearColors();
        SettingsProvider.OnChanged += StateHasChanged;
    }
}
