@inject NumpadMenuProvider NumpadMenuProvider
@inject TooltipProvider TooltipProvider

<div @onclick="OnClick"
     class="numpad__button numpad__label
                @(NumpadMenuProvider.IsSelected(NumpadMenuLabel) ? "numpad__label--selected" : string.Empty)
                @(NumpadMenuLabel.IsDimmed ? "numpad__label--dimmed" : string.Empty)
                ">
    <i class="@NumpadMenuLabel.Label"></i>
</div>

@code {
    [Parameter]
    public INumpadMenuLabel NumpadMenuLabel { get; set; }

    protected override void OnInitialized()
    {
        NumpadMenuProvider.ActionContainer.OnChanged += StateHasChanged;
    }

    private Task OnClick()
    {
        if( TooltipProvider.IsVisible )
        {
            TooltipProvider.Text = NumpadMenuLabel.Tooltip;
        }

        return NumpadMenuLabel.Execute();
    }
}
