@using Weboku.UserInterface.Providers
@using Weboku.UserInterface.Component.NumpadMenu.NumpadMenuOptions
@inject NumpadMenuProvider NumpadMenuProvider
@inject ILanguageContainerService Loc
@inject SettingsProvider SettingsProvider
@inject TooltipProvider TooltipProvider
 
        <div @onclick="OnClick"
             class="numpad__button numpad__label
                     @(NumpadMenuProvider.IsSelected(NumpadMenuLabel) ? "numpad__label--selected" : string.Empty)
                     @(NumpadMenuLabel.IsDimmed ? "numpad__label--dimmed" : string.Empty)
                     ">
            @Loc.Keys[NumpadMenuLabel.Label]
        </div>

@code {
    [Parameter]
    public INumpadMenuLabel NumpadMenuLabel { get; set; }

    protected override void OnInitialized()
    {
        NumpadMenuProvider.OnChanged += StateHasChanged;
        SettingsProvider.OnChanged += StateHasChanged;
    }

    private Task OnClick()
    {
        if (TooltipProvider.IsVisible)
        {
            TooltipProvider.Text = NumpadMenuLabel.Tooltip;
        }

        return NumpadMenuLabel.Execute();
    }
}