@page "/"

<div style="display: flex;">
    @for( int i = 0; i < 10; i++ )
    {
        <NumpadComponent Value="@i" @bind-SelectedValue="SelectedValue"></NumpadComponent>
    }
</div>
<h1>Selected value: @SelectedValue</h1>

<div>
    @for( int y = 0; y < 9; y++ )
    {
        <div style="display: flex">
            @for( int x = 0; x < 9; x++ )
            {
                <CellComponent @bind-Cell="Cells[x, y]"
                               @bind-SelectedValue="SelectedValue">
                </CellComponent>
            }
        </div>
    }
</div>

@code {
    private Grid _grid;
    public int SelectedValue { get; set; }

    public ICell[,] Cells { get => _grid.Cells; }

    protected override void OnInitialized()
    {
        _grid = new Grid("..28..3..8.......5.9.53...8.489.........4.........397.1...97.4.7.......3..5..81.."
            .Replace('.', '0'));
    }
}