@page "/"
@inject HttpClient Http
@inject IGridGenerator GridGenerator
@inject ICellColorProvider CellColorProvider
@inject ISudokuProvider SudokuProvider
@inject IGridHistoryManager GridHistoryManager
@inject IFilterProvider FilterProvider
@inject IClickableActionProvider ClickableActionProvider
@inject HotkeyProvider HotkeyProvider
@inject IJSRuntime JSRuntime
@inject CommandProvider CommandProvider
@inject IGameStateChecker GameStateChecker
@inject IGameTimerProvider GameTimerProvider


<ModalComponent @ref="_modal">
    <h1>Start new game</h1>
    @foreach( var item in new[] { "Easy", "Medium", "Hard", "Unfair", "Extreme" } )
    {
        <button class="modal-content-button new-game"
                @onclick="@(async () => await StartNewGame(item))">
            @item
            </button>
        }

    <h3>Controls</h3>
    <ul>
        <li>Left/right click to toggle input/candidate</li>
        <li>1234567890 - to change filter and input value</li>
        <li>ctrl + left/right click to use first/second color</li>
        <li>zxcv to select first/second/third/fourth color</li>
        <li>ctrl + z/y to undo/redo</li>
    </ul>
    @*<h2>Paste givens</h2>
        <textarea></textarea>
        <div class="paste-options">
            <button class="modal-content-button paste-button">HuDoKu</button>
        </div>*@
</ModalComponent>

<ModalComponent @ref="_endGameModal">
    <h1>Congratulations</h1>
    <h2>Your time @GameTimerProvider.Elapsed.ToString("mm\\:ss")</h2>
    <button @onclick="PlayAgain">Jeszcze ras?</button>
</ModalComponent>

<div id="main"
     class="container main"
     onblur="this.focus()"
     @onkeydown="HotkeyProvider.OnKeyDown"
     tabindex="0"
     @oncontextmenu:preventDefault="true">
    <MenuComponent />

    <div class="layer-wrapper">
        <BackgroundLayerComponent />

        <FilterLayerComponent />

        <CellColorLayerComponent />

        <MarkCandidatesLayerComponent />

        <MarkInputLayerComponent />

        <InputLayerComponent />

        <CandidatesLayerComponent />

        <BorderLayerComponent />

        <ClickableLayerComponent />

    </div>

    <NumpadMenuComponent />
</div>

@code {
    private ModalComponent _modal;
    private ModalComponent _endGameModal;

    private async Task StartNewGame(string difficulty)
    {
        await CommandProvider.StartNewGame(difficulty).Execute();
        _modal.Hide();
    }

    protected override async Task OnInitializedAsync()
    {
        GameStateChecker.OnSolved += OnGameEnd;
        await GridGenerator.WithGiven("medium");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if( !firstRender )
        {
            await JSRuntime.InvokeVoidAsync("focusMain");
        }
        else
        {
            _endGameModal?.Hide();
        }
    }

    private void OnGameEnd()
    {
        GameTimerProvider.Stop();
        _endGameModal.Show();
        StateHasChanged();
    }

    private void PlayAgain()
    {
        _endGameModal.Hide();
        _modal.Show();
        StateHasChanged();
    }

}