@page "/"
@inject HttpClient Http
@inject IGridGenerator GridGenerator
@inject ICellColorProvider CellColorProvider
@inject ISudokuProvider SudokuProvider
@inject IGridHistoryManager GridHistoryManager
@inject IFilterProvider FilterProvider
@inject IClickableActionProvider ClickableActionProvider
@inject HotkeyProvider HotkeyProvider
@inject IJSRuntime JSRuntime

<div id="main"
     class="main"
     onblur="this.focus()"
     @onkeydown="HotkeyProvider.OnKeyDown"
     tabindex="0"
     @oncontextmenu:preventDefault="true">

    <MenuComponent StartNewGame="StartNewGame"
                   FillAllCandidates="FillAllCandidates" />

    <div class="layer-wrapper">
        <BackgroundLayerComponent />

        <FilterLayerComponent />

        <CellColorLayerComponent />

        <MarkCandidatesLayerComponent />

        <MarkInputLayerComponent />

        <InputLayerComponent />

        <CandidatesLayerComponent />

        <BorderLayerComponent />

        <ClickableLayerComponent />

    </div>

    <NumpadMenuComponent />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await StartNewGame("Medium");
        GridHistoryManager.ClearUndo();
    }

    private void FillAllCandidates()
    {
        GridHistoryManager.Save();
        SudokuProvider.FillAllCandidates();
    }

    private async Task StartNewGame(string difficulty)
    {
        GridHistoryManager.Save();
        var newGrid = await GridGenerator.WithGiven(difficulty);
        SudokuProvider.AssignFrom(newGrid);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await JSRuntime.InvokeVoidAsync("focusMain");
        }
    }

}