@page "/"
@inject HttpClient Http
@inject IGridGenerator GridGenerator
@inject ICellColorProvider CellColorProvider
@inject ISudokuProvider SudokuProvider
@inject IGridHistoryManager GridHistoryManager
@inject IFilterProvider FilterProvider
@inject IClickableActionProvider ClickableActionProvider
@inject HotkeyProvider HotkeyProvider
@inject IJSRuntime JSRuntime
@inject CommandProvider CommandProvider

<div id="main"
     class="main"
     onblur="this.focus()"
     @onkeydown="HotkeyProvider.OnKeyDown"
     tabindex="0"
     @oncontextmenu:preventDefault="true">

    <MenuComponent />

    <div class="layer-wrapper">
        <BackgroundLayerComponent />

        <FilterLayerComponent />

        <CellColorLayerComponent />

        <MarkCandidatesLayerComponent />

        <MarkInputLayerComponent />

        <InputLayerComponent />

        <CandidatesLayerComponent />

        <BorderLayerComponent />

        <ClickableLayerComponent />

    </div>

    <NumpadMenuComponent />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CommandProvider.StartNewGame("Medium").Execute();
        GridHistoryManager.ClearUndo();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await JSRuntime.InvokeVoidAsync("focusMain");
        }
    }

}