@mixin mq($width, $font-size) {
    @media screen and (min-width: $width) and (min-height: $width * 16 / 9) {
        html {
            font-size: $font-size;
        }
    }
}

html {
    font-size: 7px;
}

$offset: +15px;
@include mq(308px + $offset, 8px);
@include mq(368px + $offset, 9px);
@include mq(400px + $offset, 10px);
@include mq(430px + $offset, 11px);
@include mq(490px + $offset, 14px);
@include mq(560px + $offset, 15px);
@include mq(600px + $offset, 16px);
@include mq(700px + $offset, 17px);