@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    user-select: none;
    overflow: hidden;
}

body {
    background-color: $color-body-bg;
}