@import '_Variables.scss';

.cell-color-choice {
    margin: 0 30%;
    width: 100%;
    height: 100%;
}

.cell-color {
    width: 80%;
    height: 80%;
    margin: 10%;
    opacity: 0.9;
}

.cell-color-none {
    background-color: transparent;
}

.cell-color-first {
    background-color: $color-1;
}

.cell-color-second {
    background-color: $color-2;
}

.cell-color-third {
    background-color: $color-3;
}

.cell-color-fourth {
    background-color: $color-4;
}

.cell-color-danger {
    background-color: $color-danger;
}

.cell-color-illegal {
    background-color: $color-danger;
}

.cell-color-success {
    background-color: $color-success;
}

.cell-color-legal {
    background-color: $color-success;
}
