@import '_Variables.scss';

.cell-color {
    width: 100%;
    height: 100%;
    border: 0.3rem solid transparent;
    color: transparent;
    border-color: currentColor;
}

.color-none {
    color: transparent;
}

.color-first {
    color: $color-1;
    
}

.color-second {
    color: $color-2;
}

.color-third {
    color: $color-3;
}

.color-fourth {
    color: $color-4;
}

.color-illegal {
    color: $color-danger;
}

.color-legal {
    color: $color-success;
}

.color-info {
    color: $color-3;
}
