@import 'Variables.scss';

.filter__cell {
    width: 100%;
    height: 100%;

    &--none {
        background-color: transparent;
    }

    &--primary {
        background-color: #FFFF00;
    }

    &--secondary {
        background-color: #E2E200;
    }
}