@import 'Variables.scss';

.input {
    font-weight: $font-bold;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;


    &--is-given {
        color: #555;
        font-weight: $font-black;
    }
}