@import '_Variables.scss';

.wrapper {
    // overwriten by JS to fill screen
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include color-secondary;
}

.main {
    $margin: 6%;
    $width: 100% - 2 * $margin;

    position: relative;
    // overwriten by JS to fill screen
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: 1fr;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 $color-shadow;

    &__menu {
        grid-row: span 1;
        margin: 0% $margin;
        width: $width;
        height: 100%;
    }

    &__game-info {
        grid-row: span 1;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    &__grid {
        margin: $margin;
        width: 100% - 2 * $width;
        height: 100% - 2 * $width;
        grid-row: span 9;
    }

    &__numpad {
        grid-row: span 5;
        margin: 0 $margin;
        width: $width;
        height: 100%;
    }
}