@import '_Variables.scss';

.menu {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    padding: 0 0 0.5rem 0;

    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

    &__link {

        &:hover {
            background-color: #6F9CEF;
        }
    }

    & div:first-of-type {
        justify-content: flex-start;
    }

    & div {
        justify-content: center;
    }

    & div:last-of-type {
        justify-content: flex-end;
    }

}