:root {
    --color-dark: #616161;
    --color-normal: #7A7A7A;
    --color-light: #B7B7B7;
    --color-lighter: #DEDEDE;
    --font-black: 900;
    --font-bold: 700;
    --font-normal: 400;
    --modal-rem: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.modal-container * {
    font-size: var(--modal-rem);
}

.modal-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.card-container {
    position: relative;
    width: calc(var(--modal-rem) * 24);
    margin: auto;
    padding: 2px;
    background-color: white;
    box-shadow: 0px 0px 16px 0px white, 0px 0px 0 100vw rgba(0,0,0,0.7);
}

.card {
    background-color: #F1F1F1;
    border: 1px solid var(--color-dark);
    padding: 20px 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--modal-rem) * 37.5);
}

.title-container {
    text-align: center;
}

.title {
    font-size: calc(var(--modal-rem) * 2.3);
    text-align: center;
    font-weight: var(--font-black);
    text-transform: uppercase;
    color: var(--color-dark);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
    font-size: calc(var(--modal-rem) * 1.07 );
    color: var(--color-normal);
}

.content {
    margin: calc(var(--modal-rem) * 3.5 ) 0;
}

.footer {
    display: flex;
    flex-direction: column;
    position: relative;
}

hr {
    height: 1px;
    margin: 0px;
    padding: 0px;
}

.button {
    width: 100%;
    margin: auto;
    text-align: center;
    max-width: 180px;
    margin: 0em auto 1.1em auto;
    padding: 0.7em;
    text-transform: uppercase;
    font-size: calc(var(--modal-rem) * 1);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.05em;
    transition: transform 200ms;
}

    .button:hover {
        transform: scale(1.1);
    }

.button-primary {
    font-weight: var(--font-bold);
    display: block;
    color: var(--color-normal);
    border: 1px solid var(--color-light);
    background-color: rgba(255, 255, 255, 0.75);
}

.button-secondary {
    margin: 0.5em auto 1em auto;
    background: var(--color-lighter);
    border: 1px solid var(--color-light);
    color: #898989;
    font-size: calc(var(--modal-rem) * 1.2);
    font-weight: var(--font-bold);
}

.result-row {
    width: 100%;
    display: flex;
    line-height: 1.6;
    margin: calc(var(--modal-rem) * 2) 0;
    color: var(--color-normal);
    border-bottom: 2px solid var(--color-lighter);
}

    .result-row span {
        font-size: calc(var(--modal-rem) * 1.5 );
    }

.result-label {
    font-weight: var(--font-bold);
}

.result-value {
    margin-left: auto;
}

.with-hr {
    position: relative;
    padding: calc(var(--modal-rem) * 0.2 ) 0;
}

    .with-hr + .with-hr {
        margin-top: 0.1em;
    }

    .with-hr::after,
    .with-hr::before {
        content: '';
        position: absolute;
        opacity: 0.4;
        left: 0;
        height: 2px;
        width: 100%;
        border: 1px inset var(--color-light);
        background-color: transparent;
    }

    .with-hr::before {
        top: -0.05em;
    }

    .with-hr::after {
        bottom: 0.05em;
    }

