<ModalTemplateComponent>
    <div class="loading-modal__container">
        <span>Loading...</span>
        <div class="loading-modal__spinner"></div>
    </div>
</ModalTemplateComponent>

@code {

}
