<div class="modal-with-grid">
    <div class="modal-with-grid__grid layer">
        @Grid
    </div>
    <div class="modal-with-grid__content-wrapper">
        <div class="modal-with-grid__overlay"></div>
        <div class="modal-with-grid__content">
            @Content
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Grid { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }
}