@using Weboku.UserInterface.Commands
<a @onclick="() => OnClick()" class="modal__button @_modalClass">@ChildContent</a>

@code {

    public async Task OnClick()
    {
        if (Command is not null)
        {
            Command.Execute();
        }

        Action?.Invoke();
        if (AsyncAction is not null)
        {
            await AsyncAction();
        }
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsSecondary { get; set; } = false;

    [Parameter]
    public ICommand Command { get; set; }

    [Parameter]
    public Action Action { get; set; }

    [Parameter]
    public Func<Task> AsyncAction { get; set; }

    private string _modalClass { get => IsSecondary ? "modal__button--secondary" : "modal__button--primary"; }
}
