@inject NumpadMenuBuilder NumpadMenuBuilder
@inject NumpadMenuProvider NumpadMenuProvider
@using UI.BlazorWASM.Component.NumpadMenu.Components


    <div class="numpad">
        <GridHistoryButtonComponent NumpadMenuLabel="NumpadMenuBuilder.Undo()" />
        <SelectValueButtonComponent @ref="_initialFilter"
                                    NumpadMenuLabel="NumpadMenuBuilder.SelectValue(1)" />
        <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(2)" />
        <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(3)" />
        <IconButtonComponent @ref="_initialAction"
                              NumpadMenuLabel="NumpadMenuBuilder.SelectStandardAction()" />

        <GridHistoryButtonComponent NumpadMenuLabel="NumpadMenuBuilder.Redo()" />
        <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(4)" />
        <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(5)" />
        <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(6)" />
        <IconButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectEraserAction()" />

        <PairsFilterButtonComponent NumpadMenuLabel="NumpadMenuBuilder.Pairs()" />
        <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(7)" />
        <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(8)" />
        <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(9)" />
        <IconButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectCleanerAction()" />

        <ClearColorsButtonComponent />
        <ColorButtonComponent @ref="_initialColor"
                              SelectColorMenuItem="NumpadMenuBuilder.SelectColor(Enums.CellColor.First, Enums.CellColor.Second)" />
        <ColorButtonComponent SelectColorMenuItem="NumpadMenuBuilder.SelectColor(Enums.CellColor.Third, Enums.CellColor.Fourth)" />
        <IconButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectColorAction()" />
    </div>

@code {
    private SelectValueButtonComponent _initialFilter;
    private IconButtonComponent _initialAction;
    private ColorButtonComponent _initialColor;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            NumpadMenuProvider.FilterContainer.SelectItem(_initialFilter.NumpadMenuLabel);
            NumpadMenuProvider.ActionContainer.SelectItem(_initialAction.NumpadMenuLabel);
            NumpadMenuProvider.ColorContainer.SelectItem(_initialColor.SelectColorMenuItem);
        }
    }
}
