@inject NumpadMenuBuilder NumpadMenuBuilder
@using UI.BlazorWASM.Component.NumpadMenu.Components


<div class="numpad">
    <GameInfoComponent />

    <GridHistoryButtonComponent NumpadMenuLabel="NumpadMenuBuilder.Undo()" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(1)" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(2)" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(3)" />

    <GridHistoryButtonComponent NumpadMenuLabel="NumpadMenuBuilder.Redo()" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(4)" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(5)" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(6)" />

    <LabelButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectErase()" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(7)" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(8)" />
    <SelectValueButtonComponent NumpadMenuLabel="NumpadMenuBuilder.SelectValue(9)" />

    <PairsFilterButtonComponent NumpadMenuLabel="NumpadMenuBuilder.Pairs()" />

    <div class="numpad__hidden"></div>

    <ClearColorsButtonComponent />

    <ColorButtonComponent SelectColorMenuItem="NumpadMenuBuilder.SelectColor(Enums.CellColor.First)" />
    <ColorButtonComponent SelectColorMenuItem="NumpadMenuBuilder.SelectColor(Enums.CellColor.Second)" />
    <ColorButtonComponent SelectColorMenuItem="NumpadMenuBuilder.SelectColor(Enums.CellColor.Third)" />
    <ColorButtonComponent SelectColorMenuItem="NumpadMenuBuilder.SelectColor(Enums.CellColor.Fourth)" />
</div>

@code {

}
